/*
* 디바이스에 따라 화면 가로길이 조정
*/
/* mobile */
.mobileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* PC */
@media (min-width: 768px) {
    .mobileContainer {
        margin: 0 auto;
        min-height: 100vh;
    }
}