/* mobile */
.rootContainer {
    width: 100%;
}

.rootContent {
    /*position: relative;*/
    background-color: var(--neutral-color);
    ;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-arrow-color: #000000;
    scrollbar-color: #bd6cff rgba(33, 121, 244, 0);

    &::-webkit-scrollbar {
        width: 1px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 30%;
        /* 스크롤바의 색상 */
        background: #6801bd;
        background-color: #bd6cff;
    }

    &::-webkit-scrollbar-track {
        /*스크롤바 뒷 배경 색상*/
        background: rgba(33, 121, 244, 0);
    }
}

/* PC */
@media (min-width: 768px) {
    .rootContainer {
        margin: 0 auto;
    }

    .rootContent {
        width: 360px;
        height: 800px;
        margin: 30px auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}