/*달력 배경*/
.react-calendar {
  background: var(--neutral-color);
  border: none;
  font-family: Pretendard-Regular;
  padding-inline: 1.3rem;
  width: 100%;
}

/*달력 헤더*/
.react-calendar__navigation {
  border-bottom: 0.74px solid var(--neutral30-color);
  height: 60px;
  border-radius: 20px 20px 0 0;
  justify-content: center;
  margin-bottom: 0.5em;

  /* 헤더 타이틀 */
  span {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5rem;
    color: white;
    vertical-align: middle;
    font-family: Pretendard-Regular;
  }
}

.react-calendar__navigation__label {
  max-width: max-content;
}

/* nav 버튼 */
.react-calendar__navigation button {
  color: var(--neutral90-color);
  font-size: 40px;
  font-weight: 400;
  padding: 0;
  border-radius: 0;
}

.react-calendar__navigation button:disabled {
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--neutral40-color);
}


/* 월 달력 뷰*/
.react-calendar__month-view {
  abbr {
    font-size: 16px;
    font-weight: 500;
  }
}

/* 요일 */
.react-calendar__month-view__weekdays {
  abbr {
    color: var(--neutral99-color);
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
  }
}

/* 일 */
.react-calendar__tile {
  color: white;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 6.6667px;
  border-radius: 4px;

}

/* 오늘 날짜 버튼*/
.react-calendar__tile--now {
  background: var(--neutral-color);
}

/* 날짜 버튼 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile--active:hover {
  background: var(--neutral-color);
  border-style: solid;
  border-width: 1.5px;
  border-color: var(--primary60-color);
}

/*날짜 선택시*/
.react-calendar__tile--hasActive,
.react-calendar__tile--active:enabled:focus,
.react-calendar__tile--active {
  background-color: var(--primary60-color);
  border: none;
}


/* Mobile */
@media (max-width: 767px) {

  .react-calendar__navigation {
    height: 40px;
    margin-bottom: 0em;

    /* 헤더 타이틀 */
    span {
      font-size: var(--font-regular);
      line-height: 100%;
    }

  }

  .react-calendar__navigation button {
    font-size: 30px;
    margin-bottom: 10px
  }

  .react-calendar__tile {
    height: 45px;
    padding: 3px 3.6667px;
  }

  .react-calendar__month-view abbr {
    font-size: var(--font-small);

  }
}