.checkIco {
    height: 24px;
    width: 24px;
    background-image: url("/images/ico_check_circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
}

.textComplete {
    margin-top: 0.5rem;
    font-family: Pretendard;
    font-size: var(--font-large);
    font-weight: bold;
    text-align: center;
    color: white;
}

.eyeMargin {
    position: absolute;
    right: 1rem;
    top: 28.5em;
}