.checkIco {
    height: 24px;
    width: 24px;
    background-image: url("/images/ico_check_circle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dateText {
    font-size: var(--font-medium);
    color: var(--neutral170-color);
}

.content {
    font-size: var(--font-medium);
    color: black;
    line-height: 1.3rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.textComplete {
    margin-top: 0.5rem;
    font-family: Pretendard;
    font-size: var(--font-extra-large);
    font-weight: bold;
    text-align: center;
    color: white;
}

/* Mobile */
@media (max-width: 767px) {
    .textComplete {
        margin-top: 0.5rem;
        font-size: var(--font-large);
    }
}