.topBarContainer {
    background-color: var(--neutral-color);

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.leftBtnArea {
    padding: 10px 20px;
}

.leftBtn {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
}

.x .leftBtn {
    background-image: url('/images/icon-x-mono.png');
}

.back .leftBtn {
    background-image: url('/images/icon-arrow-back-android-mono.png');
}

/* PC */
@media (min-width: 768px) {
    .topBarContainer {
        width: 360px;
    }
}