.topBarContainer {
    background-color: var(--neutral-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.leftBtnArea {
    padding: 1rem 1.25rem 0.7rem;
}

.logout .leftBtnArea {
    padding: 0.7rem 1.25rem 0.4rem;
}

.leftBtn {
    display: inline-block;
    vertical-align: middle;
    width: var(--font-extra-large);
    height: var(--font-extra-large);
    background-size: cover;
    background-position: center;
}

.back .leftBtn {
    background-image: url('/images/icon-arrow-back-android-mono.png');
}

.logout .leftBtn {
    background-image: url('/images/ico_logout.png');
    width: 33px;
    height: 35px;
}

/* PC */
@media (min-width: 768px) {
    .topBarContainer {
        width: 360px;
    }
}