.topBarContainer {
    background-color: #191919;
    width: 360px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.leftBtnArea {
    padding: 10px 20px;
}

.leftBtn {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-image: url('/images/icon-arrow-back-android-mono.png');
    background-size: cover;
    background-position: center;
}

.mg {
    margin: 34px 0;
}