.topBarContainer {
    background-color: var(--neutral-color);
    top: 0;
    width: 100%;
}

.leftBtn {
    display: inline-block;
    vertical-align: middle;
    width: var(--font-extra-large);
    height: var(--font-extra-large);
    background-size: cover;
    background-position: center;
}

.x.leftBtn {
    background-image: url('/images/icon-x-mono.png');
}

/* PC */
@media (min-width: 768px) {
    .leftBtnArea {
        padding: 0.625rem 0;
    }
}