.muudText {
    margin-top: 5rem;
    color: var(--primary-color);
    font-size: var(--font-extra-large);
    font-family: Pretendard-Bold;
}

.text {
    font-size: var(--font-medium);
    color: var(--neutral190-color);
}

.wrongInfo {
    font-family: Pretendard;
    font-size: var(--font-micro);
    color: #EB4141;
}

.textCenter {
    display: flex;
    padding-right: 0.7rem;
    margin-top: 0.8em;
}

.find {
    color: var(--neutral70-color);
    font-size: var(--font-medium);
    flex: 1;
    text-align: center;
}

.find:hover {
    color: var(--neutral50-color);
    cursor: pointer;
}

.bottomContainer {
    margin-top: 7em;
    text-align: center;
}

.snsText {
    font-size: var(--font-medium);
}

.kakaoLoginBtn {
    background-image: url('/images/kakao_login_medium_narrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 183px;
    height: 45px;
}

.kakaoLoginBtn:hover {
    filter: brightness(80%);
}