.muudText {
    margin-top: 5rem;
    color: var(--primary-color);
    font-size: var(--font-extra-large);
    font-family: Pretendard-Bold;
}

.text {
    font-size: var(--font-medium);
    color: var(--neutral190-color);
}

.wrongInfo {
    font-family: Pretendard;
    font-size: var(--font-micro);
    color: #EB4141;
}

.textCenter {
    display: flex;
    padding-right: 0.7rem;
    margin-top: 0.8em;
}

.find {
    color: var(--neutral70-color);
    font-size: var(--font-medium);
    flex: 1;
    text-align: center;
}

.find:hover {
    color: var(--neutral50-color);
    cursor: pointer;
}

.bottomContainer {
    margin-top: 7em;
    text-align: center;
}

.snsText {
    font-size: var(--font-medium);
}

.lookAroundBtn {
    border-radius: 50px;
    border-color: var(--neutral190-color);
    color: var(--neutral190-color);
    font-size: var(--font-medium);
    padding: 4px 15px;
    background-color: transparent;
    font-family: Pretendard-Regular;
    margin: 2rem 0;
}

.kakaoLoginBtn {
    background-image: url('/images/kakao_login_medium_narrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 183px;
    height: 45px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.kakaoLoginBtn:hover {
    filter: brightness(80%);
}

.form {
    margin-top: 3.5rem;
}


/* Mobile */
@media (max-width: 767px) {
    .muudText {
        margin-top: 3rem;
    }

    .form {
        margin-top: 1rem;
    }

    .find {
        font-size: var(--font-small);
    }
}

@media (max-height: 560px) {
    .kakaoLoginBtn {
        width: 143px;
        height: 35px;
    }
}