.box {
    background: transparent;
    width: 100%;
    padding: 8px 0 8px 0;
    font-size: var(--font-small);
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--neutral50-color);
}

.textRegister {
    font-family: Pretendard-Bold;
    font-size: var(--font-regular);
    color: white;
    margin-top: 2rem;
}

.textLetter {
    font-family: Pretendard-Regular;
    font-size: var(--font-regular);
    color: var(--neutral70-color);
    font-size: var(--font-small)
}

.eyeMargin {
    display: flex;
    justify-content: flex-end;

}