.slick-dots {
    position: absolute;
    bottom: 10px;
}

.slick-list {
    min-height: 400px;
}


/* Mobile */
@media (max-width: 767px) {
    .slick-list {
        min-height: 330px;
    }

    .slick-dots {
        position: absolute;
        bottom: -19px;
    }
}