.bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.roundBtn.active {
    background-color: var(--primary-color);
    color: white;
}

.roundBtn.inactive {
    background-color: var(--neutral30-color);
    cursor: initial;
    color: var(--neutral50-color);
}

.roundBtn {
    width: 320px;
    height: 56px;
    border-radius: 16px;
    padding: 10px;
    line-height: 150%;
    font-family: Pretendard-Medium;
    font-weight: 100;
}

.roundBtn.small {
    width: 218px;
    height: 48px;
}