.musicPlayerWrap {
    position: relative;
    width: 100%;
    /* 또는 원하는 너비로 설정합니다. */
    height: 0;
    padding-bottom: 56.25%;
    /* 아이프레임의 가로:세로 비율을 설정합니다. (16:9 비율) */
    overflow: hidden;
}

.player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/* Mobile */
@media (max-width: 767px) {
    .player {
        height: 130px;
    }
}