/* 공통 css */
#root {
  margin: 0 auto;
  width: 100%;
}

input {
  height: 22px;
}

.appContainer {
  margin: 20px;
}

div {
  /* jsx \n 인식을 위함*/
  white-space: pre-wrap;

}

textarea {
  resize: none;
}

:focus {
  outline-color: var(--primary-color);
}

/* 회원 auth 페이지 */
.pswdWrap {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: var(--font-small);
  color: #fff;
  border: none;
  outline: none;
}

.pswdInput {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 8px 0 8px 0;
  font-size: var(--font-small);
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--neutral50-color);
}

.emailText {
  font-family: Pretendard;
  font-size: var(--font-medium);
  color: white;
  margin-top: 2.56rem;
}

.pswdText {
  font-family: Pretendard;
  font-size: var(--font-medium);
  color: white;
  margin-top: 1rem;
}

.eyeBtnContainer {
  position: absolute;
  right: 2rem;
  top: 25.5em;
}

.eyeBtn.hide {
  background-image: url('/images/icon-eye-off-mono.png');
}

.eyeBtn.show {
  background-image: url('/images/icon-eye-on-mono.png');
}

.eyeBtn {
  width: 14px;
  height: 13px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}


/* Slider */
/* 슬라이더 dot 커스터마이징 */
.slick-dots {
  list-style: none;
  text-align: center;
  width: 100%;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: transparent;
}

/* 각 dot 스타일 설정 */
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
}

/* 선택된 dot의 스타일 설정 */
.slick-dots li.slick-active button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}

/* 선택되지 않은 dot의 스타일 설정 */
.slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--neutral50-color);
  padding: 0;

}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots li button:before {
  content: unset;
}
