#root {
  margin: 0 auto;
  width: 100%;
}

input {
  height: 22px;
}

.appContainer {
  margin: 20px;
}

div {
  /* jsx \n 인식을 위함*/
  white-space: pre-wrap;

}

textarea {
  resize: none;
}

:focus {
  outline-color: var(--primary-color);
}


/* 공통 css */
.pswdWrap {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
}

.eyeBtnContainer {
  position: absolute;
  right: 10px;
  top: 0;
}

.eyeBtn.hide {
  background-image: url('/images/icon-eye-off-mono.png');
}

.eyeBtn.show {
  background-image: url('/images/icon-eye-on-mono.png');
}

.eyeBtn {
  width: 14px;
  height: 13px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}