#root {
  margin: 0 auto;
  width: 100%;
}

input {
  height: 22px;
}

.appContainer {
  margin: 20px;
}

div {
  /* jsx \n 인식을 위함*/
  white-space: pre-wrap;

}

textarea {
  resize: none;
}

:focus {
  outline-color: var(--primary-color);
}