.btnContainer {
    margin: 14px 0;
}

.moodBtn.active {
    background-color: var(--primary-color);
    color: white;
}

.moodBtn.inactive {
    background-color: var(--neutral20-color);
    color: var(--neutral60-color);
}

.moodBtn {
    width: 312px;
    height: 68px;
    border-radius: 16px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    background-color: var(--neutral20-color);

}

.textDate {
    font-family: Pretendard;
    font-size: var(--font-small);
    text-align: center;
    color: white;
}

.textMood {
    margin-top: 0.3rem;
    font-family: Pretendard;
    font-size: var(--font-large);
    text-align: center;
    color: white;
}

.textOne {
    margin-top: 0.3rem;
    font-family: Pretendard;
    font-size: var(--font-small);
    text-align: center;
    color: var(--neutral60-color);
}

.btnNext {
    margin-top: 1rem;
}