/* mobile */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: rgb(204, 204, 204);
    overflow: hidden;
}

.content {
    background-color: rgb(255, 255, 255);
}

/* PC */
@media (min-width: 768px) {
    .container {
        max-width: 360px;
        height: 800px;
        margin: 30px auto;

        /* PC에서는 최대 너비를 제한하여 가운데 정렬 */

    }

    .content {}
}

.logo {
    height: 6em;
    padding: 1.5em;
    font-size: 1.5rem;
    font-weight: bold;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}